<!-- CONTENT -->
<div *ngIf="this.exercises.state != 'No entregado'; else showDefault">
    <p (click)="openModal(template)">
        {{ this.exercises.date | date:"dd/MM/yyyy" }}
    </p>
</div>

<ng-template #showDefault>
    <p (click)="openModal(template)">
        {{ this.exercises.state }}
    </p>
</ng-template>

<!-- MODAL -->
<ng-template #template>
    <div class="modal-header">
        <h3 class="modal-title pull-left">
            Revisión del ejercicio</h3>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-2">
                <label>Fecha</label>
            </div>
            <div class="col-xs-12 col-12 col-md-4 form-group">
                <input type="text" placeholder="dd/mm/aaaa" class="form-control" bsDatepicker #dp="bsDatepicker" [bsConfig]="dpConfig" #date>
            </div>
        </div>
        <div class="row justify-content-between m-1">
            <button type="submit" class="btn grey-btn" (click)="changeDone('Entregado', date.value)">Entregado</button>
            <button type="button" class="btn blue-btn col-3" (click)="changeCorrected('Corregido', date.value)">Corregido</button>
            <button type="button" class="btn submit-btn col-3" (click)="changeReviewed('A revisar', date.value)">A revisar</button>
            <button type="button" class="btn lightgrey-btn" (click)="changeEmpty('No entregado')">No entregado</button>
        </div>
    </div>
</ng-template>