<footer class="container-fluid fixed-bottom">
    <div class="footer row">

        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 py-3">
            <div>
                <img src="../assets/img/barcelona-activa.png" height="40" class="ml-3 img-fluid" alt="Logo Barcelona Activa">
            </div>
        </div>
    
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 py-3">
            <p class="footer-text">Hecho con ♥ por los estudiantes de ITAcademy 2019 / 2020</p>  
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <p>  </p>
        </div>
    </div> 
</footer>
