<div style="display: block;">
  <canvas baseChart
    [data]="pieChartData"
    [labels]="pieChartLabels"
    [chartType]="pieChartType"
    [options]="pieChartOptions"
    [plugins]="pieChartPlugins"
    [legend]="pieChartLegend">
  </canvas>
</div>
<h2>hola</h2>

<div *ngFor='let statistic of statistics'>
  <h2>{{statistic.firstName}}</h2>
</div>

<div *ngFor='let statistic of statistics'>
  <h2>{{statistic.data}}</h2>
</div>

<div *ngFor='let statistic of statistics'>
  <h2>{{statistic.id}}</h2>
</div>